*{
  margin: 0;
}

.menuhide,.specsuperman{
  visibility: hidden;
}

body{
  margin: 0 auto;
  width: 1520px;
  color: #331A2F;
  font-family: 'Lato', sans-serif;
  background-image:  url(../img/elipsright.svg);
  background-repeat: no-repeat;
}

body::before{
  content:  url(../img/elipsleft.svg);
  z-index: 170;
  position: absolute;
  right: 0;
  top: 35%;
}


nav{
  display: flex;
  margin-top: 35px; 
  width: 100%;
  justify-content: space-between;
}

.leftNavCont{
  display: flex;
  flex-direction: row;
  width: 654px;
  
}

.rightNavCont{
  display: flex;
  min-width: 301px;
  justify-content: space-between;
  align-items:  center;
}

.logocont{
  display: flex;
}

.logo{
  display: flex;
  border-right: 1px solid #331A2F80;
  align-items: center;
}

.logotext{
  font-size: 31.87px;
  margin: 0 19px;
}

.logoMinitxt{
  font-size: 14px;
  margin: 0 25px;
  align-self: center;
  width: 204px;
  
}

details{
  font-size: 14px;
  margin-right: 50px;
  align-self: center;
}

summary{
  list-style-type: none;
  cursor: pointer;
  position: relative;
  padding-right: 30px; 
  font-size: 24px;
}

summary::after{
  display: block;
  content: url(../img/row.png);
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%)
}

.learnhref{
  font-size: 24px;
  align-self: center;
  color: #331A2F
}

a{
  text-decoration-line: none;
}

.tel{
  font-size: 24px;
  position: relative;
  padding-left: 25px;
}

.tel::before{
  content: url(../img/tel.png);
  position: absolute;
  left: 0;
  
  
}

.comein{
  font-size: 23px;
  color: white;
  margin-left: 14px; 
}

.btn{
  width: 169px;
  height: 45px;
  background-color: #CF51CE;
  margin-left: 91px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  
}


/*Путь*/

.path{
  display: flex;
  width: 164px;
  justify-content: space-around;
  margin-top: 66px; 
  
}

.path a{
  color: #331A2F80;
}


/*Шапка*/




header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.dop{
  
}

.leftHead{
  width: 868px;
}


.mainTitle{
  font-size: 56px;
}

font{
  color: #CF51CE;
}

.price{
  font-size: 20px;
  font-weight: 600, Semi Bold;
  margin-top: 22px;
  display: flex;
  
}

.icontop{
  margin-right:  25px
}

.specSize{
  font-size: 35px;
  font-weight: 400, Regular;
}

.minititle{
  font-size: 25px;
  margin-top: 15px;
  line-height: 160%;
  font-weight: 400;
}

.history{
  margin-top: 147px
}

.superman{
  padding-bottom: 44px;
  padding-left:  30px;
  padding-right: 30px;
  box-sizing: border-box;
  background-image: url(../img/bgForSuperman.png);
  background-size: 100%;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
}

.bigbox{
  display: flex;
  width: 100%;
}

.history{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hisTitle{
  font-size: 48px;
  width: 844px;
  text-align: center;
  margin-bottom: 100px
}

.hisContItems{
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
}

.leftStory{
  display: flex;
  margin-bottom: 7px;
  align-items:  center;
}


.rightStory{
  display: flex;
  margin-bottom: 7px;
  align-items:  center;
}

.hisMiniTitle{
  width: 750px;
}

.L{
  margin-left: 81px; 
}

.R{
  margin-right: 81px;
  margin-bottom: 15px
}

.learn{
  margin-top: 140px;
  margin-bottom: 131px;
  width: 100%;
}

.topLearnCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.learnTitle{
  font-size: 48px;
  width: 700px;
  font-weight: 700;
  line-height: 64px;
}

.learnMinTitle{
  margin-top: 30px; 
  margin-bottom: 85px; 
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
}

.bottomLearnCont{
  display: flex;
  justify-content: space-between;
}


.card{
  width: 290px;
}

.miniTitleLearn{
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 15px;
}

.txtLearn{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%
}
ins{
  background-image: linear-gradient(264deg, rgba(124,78,171,1) 0%, rgba(221,81,212,1) 100%);
  background-position: 0 100%;
  background-size: 100% 7px;
  background-repeat: repeat-x;
  border-radius: 5px;
  text-decoration-line: none;
}


@media(max-width: 1280px){
  .minititle{
    width: 711px
  }
  
  .superman{
    width: 435.35px;
    height: 435.35px;
  }
  
  body::before{
    display: none;
  }
  
  body{
  background-image: url(../img/elips1.png);
  margin: 40px;
  width: 1280px;
}




nav{
  width: 1200px;
}

.leftNavCont{
  width: 459px;
  
  
}
  

.rightNavCont{
  min-width: 248px;
}
.logocont{
  display: flex;
}

.logo{
  display: flex;
  border-right: 1px solid #331A2F80;
  align-items: center;
}
  
  .logoimg{
    width: 47px;
  }

.logotext{
  font-size: 24.76px;
  margin: 0 14px;
}

.logoMinitxt{
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  width: 158.53px;
  
}

details{
  font-size: 14px;
  margin-right: 40px;
}

summary{
  padding-right: 20px; 
  font-size: 18px;
  
}



.learnhref{
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
}


.tel{
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  padding-left: 24px;
}

.tel::before{
  content: url(../img/tel2.png);
  
}
.comein{
  font-size: 18px;
  color: white;
  margin-left: 10px; 
}

.btn{
  width: 152px;
  height: 43px;
  margin-left: 92px; 
  
}

.path{
  width: 156px;
  margin-top: 66px;   
}


.leftHead{
  width: 711px;
}


.mainTitle{
  font-size: 46px;
}

.price{
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.specSize{
  font-size: 35px;
}

.minititle{
  font-size: 20px;
  line-height: 32px;
}

.history{
  margin-top: 77px
}

.superman{
  padding-bottom: 39px;
  padding-left:  38px;
  padding-right: 15px;
}

.hisTitle{
  font-size: 40px;
  width: 652px;
  margin-bottom: 96px
}

.hisContItems{
  font-size: 20px;
  line-height: 32px;
}

.leftStory{
  margin-bottom: 0px;
}


.hisMiniTitle{
  width: 563px;
}


.L{
  margin-left: 81px; 
}

.R{
  margin-right: 57px;
}

.learn{
  margin-top: 140px;
  margin-bottom: 121px;
  width: 100%
 
}


.learnTitle{
  font-size: 40px;
  width: 641px;
}

.learnMinTitle{
  margin-top: 30px; 
  margin-bottom: 96px; 
  font-size: 20px;
  line-height: 32px;
}



.card{
  width: 226px;
}

.miniTitleLearn{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 9px;
}

.txtLearn{
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px
}
ins{
  background-size: 100% 6px;
}

   
}

@media(max-width: 768px){

  .menuhide{
    visibility: visible;
    width: 42px;
    height: 4px;
    background-color: #CF51CE;
    align-self: center;
  }
  
  
  body{
  width: 738px;
  background-image: none;
  overflow-x: hidden
}

body::before{
  content: '';
}

nav{
  width: 100%;
}

.leftNavCont{
  width: 403px;
  
}

.rightNavCont{
  display: flex;
  min-width: 301px;
  justify-content: space-between;
  align-items:  center;
}


.logotext{
  font-size: 24.76px;
  margin: 0 14px;
}

.logoMinitxt{
  font-size: 10px;
  margin: 0 19px;
  width: 158px;
  
}

.learnhref, .tel, details{
  display: none;
}

.comein{
  font-size: 20px;
  margin-left: 14px; 
}

.btn{
  width: 158px;
  height: 44px;
  margin-left: 0px; 
  
}



.path{
  display: flex;
  width: 154px;
  margin-top: 55px; 
  
}
  

header{
  width: 100%;
  margin-top: 15px;
  line-height: 65px;
}

.leftHead{
  width: px;
}

.mainTitle{
  font-weight: 700;
  font-size: 46px;
  line-height: 65px;
  width: 738px
}

.price{
  font-size: 18px;
  margin-top: 18px;
  
}

.icontop{
  margin-right:  25px
}

.specSize{
  font-size: 35px;
  font-weight: 400, Regular;
}

.minititle{
  font-size: 20px;
  margin-top: 15px;
  line-height: 160%;
  font-weight: 400;
  width: 482px;
}

.history{
  margin-top: 147px;
  width: 100%;
}

  
  .superman{
    position: absolute;
    height: 410px;
    width: 410px;
    top: 35%;
    left: 69%;
    
  }


.hisTitle{font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  margin-bottom: 91px
}
.hisContItems{
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
}
  
  .hisImg{
    width: 268px
  }

.hisMiniTitle{
  width: 428px;

}

.L{
  margin-left: 41px; 
  margin-bottom: 71px;
}

.R{
  margin-right: 41px;
}

.learn{
  margin-top: 120px;
  margin-bottom: 85px;
  width: 100%;
}


.learnTitle{
  font-size: 40px;
  width: 626px;
}
  
.learnMinTitle{
  margin-top: 24px; 
  margin-bottom: 80px; 
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  width: 683px;
}

.bottomLearnCont{
  flex-wrap: wrap;
}



.card{
  width: 255px;
  margin: 40px
}

.miniTitleLearn{
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 15px;
}
/*
.txtLearn{
  font-weight: 400;
  font-size: 18px;
  line-height: 160%
}
ins{
  background-image: linear-gradient(264deg, rgba(124,78,171,1) 0%, rgba(221,81,212,1) 100%);
  background-position: 0 100%;
  background-size: 100% 7px;
  background-repeat: repeat-x;
  border-radius: 5px;
  text-decoration-line: none;
}
  
  */
  
}

@media (max-width: 360px){
  
body{
  width: 360px;
  margin: 0 15px;
  overflow-x: hidden;
}
  
nav{
  margin-top: 35px; 
  width: 100%;
}

.leftNavCont{
  width: 94px;
  
}
  
  .logoMinitxt{
    display: none;
  }

.rightNavCont{
  min-width: 150px;
}


.logo{
  border-right: none;
}
  

.logotext{
  font-size: 18.51px;
  margin: 0 24px;
}

.comein{
  font-size: 14px;
  color: white;
  margin-left: 8px; 
}
  
  .comeimg{
    width: 13px
  }

.btn{
  width: 103px;
  height: 36px;
  margin-left: 91px; 
  
}


/*Путь*/

.path{
  display: flex;
  width: 164px;
  justify-content: space-around;
  margin-top: 40px; 
  
}


header{
  width: 100%;
  margin-top: 44px;
}


.leftHead{
  width: 330px;
}


.mainTitle{
  font-size: 26px;
  width: 210px;
  font-size: 26px;
  line-height: 150%;
}

.price{
  font-size: 20px;
  font-weight: 600, Semi Bold;
  margin-top: 24px;
  margin-bottom: 16px;
  display: flex;
  
}

.icontop{
  margin-right:  25px
}

.specSize{
  font-size: 35px;
  font-weight: 400, Regular;
}

.minititle{
  width: 330px;
  font-size: 18px;
  margin-top: 10px;
  line-height: 160%;
  font-weight: 400;
}

.history{
  margin-top: 85px;
}

.superman{
  position: absolute;
  width: 287px;
  height: 287px;
  top: 20%;
  left: 50%;
  background: none;
}



.hisTitle{
  font-size: 24px;
  width: 332px;
  margin-right: 15px;
  text-align: center;
  margin-bottom: 58px
}

.hisContItems,{
  width: 330px;
  font-size: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.leftStory,.rightStory{
  flex-direction: column;
}

  .rightStory{
    flex-direction: column-reverse;
  }

.hisMiniTitle{
  width: 330px;
}

.L{
  margin-left: 0px; 
}

.R{
  margin-right: 15px;
  margin-bottom: 15px;
}

.learn{
  margin-top: 100px;
  margin-bottom: 69px;
  width: 100%;
}

.learnTitle{
  font-size: 24px;
  width: 310px;
  font-weight: 700;
  line-height: 150%;
  }
.learnMinTitle{
  margin-top: 25px; 
  margin-bottom: 50px; 
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  width: 330px
}

.bottomLearnCont{
}


.card{
  width: 290px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.miniTitleLearn{
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 10px;
}

.txtLearn{
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
ins{
  background-image: linear-gradient(264deg, rgba(124,78,171,1) 0%, rgba(221,81,212,1) 100%);
  background-position: 0 100%;
  background-size: 100% 7px;
  background-repeat: repeat-x;
  border-radius: 5px;
  text-decoration-line: none;
}
}
